parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$datetime of function verta expects null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: app/Http/Controllers/Api/Shop/Teacher/CourseController.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, \$this\(App\\Models\\Course\)\>\) of method App\\Models\\Course\:\:products\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, App\\Models\\Course\>\) of method App\\Contracts\\ProductableContract\<App\\Models\\Course\>\:\:products\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/Course.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, \$this\(App\\Models\\Course\)\>\) of method App\\Models\\Course\:\:products\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, App\\Models\\Course\>\) of method App\\Contracts\\ReviewableContract\<App\\Models\\Course\>\:\:products\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/Course.php

		-
			message: '#^Relation ''digitalAssets'' is not found in App\\Models\\DigitalAsset model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Models/DigitalAsset.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, \$this\(App\\Models\\DigitalAsset\)\>\) of method App\\Models\\DigitalAsset\:\:products\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, App\\Models\\DigitalAsset\>\) of method App\\Contracts\\ProductableContract\<App\\Models\\DigitalAsset\>\:\:products\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/DigitalAsset.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, \$this\(App\\Models\\DigitalAsset\)\>\) of method App\\Models\\DigitalAsset\:\:products\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, App\\Models\\DigitalAsset\>\) of method App\\Contracts\\ReviewableContract\<App\\Models\\DigitalAsset\>\:\:products\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/DigitalAsset.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, \$this\(App\\Models\\Seminar\)\>\) of method App\\Models\\Seminar\:\:products\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, App\\Models\\Seminar\>\) of method App\\Contracts\\ProductableContract\<App\\Models\\Seminar\>\:\:products\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/Seminar.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, \$this\(App\\Models\\Seminar\)\>\) of method App\\Models\\Seminar\:\:products\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphMany\<App\\Models\\Product, App\\Models\\Seminar\>\) of method App\\Contracts\\ReviewableContract\<App\\Models\\Seminar\>\:\:products\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Models/Seminar.php

		-
			message: '#^Static call to instance method Plank\\Mediable\\Facades\\ImageManipulator\:\:defineVariant\(\)\.$#'
			identifier: method.staticCall
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Cannot call static method observe\(\) on int\|string\.$#'
			identifier: staticMethod.nonObject
			count: 1
			path: app/Providers/EventServiceProvider.php

		-
			message: '#^Property App\\Services\\Fakes\\FakeBbbService\:\:\$settings is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Services/Fakes/FakeBbbService.php

		-
			message: '#^Property App\\Services\\Fakes\\FakeMoodleService\:\:\$settings is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Services/Fakes/FakeMoodleService.php

		-
			message: '#^Property App\\Services\\Fakes\\FakeMoodleService\:\:\$timeout is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Services/Fakes/FakeMoodleService.php

		-
			message: '#^Property App\\Services\\Fakes\\FakeSpotPlayerService\:\:\$settings is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Services/Fakes/FakeSpotPlayerService.php

		-
			message: '#^Parameter \#1 \$datetime of function verta expects null, Carbon\\CarbonImmutable given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/SkuGeneratorService.php

		-
			message: '#^Trait App\\Traits\\HasMetaTagsMigration is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/HasMetaTagsMigration.php

		-
			message: '#^Trait App\\Traits\\ValidatesMetaTags is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: app/Traits/ValidatesMetaTags.php
